<div>
  <form class="mat-elevation-z2" [formGroup]="weatherEntry" fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutAlign="center center" ffxLayoutAlign.gt-sm="space-between center" fxLayoutGap="15px" fxFlex="290px" fxFlex.gt-sm="100">
    
    <mat-form-field floatLabel="always" color="accent">
        <mat-label>Temperature</mat-label>
        <input matInput placeholder="Temperature..." type="number" formControlName= "temperature">
    </mat-form-field>
    <mat-form-field floatLabel="always"  color="accent">
        <mat-label>Humidity</mat-label>

        <input matInput placeholder="Humidity..." type="number" formControlName="humidity">
      </mat-form-field>
      <mat-form-field floatLabel="always" type="number" color="accent">
          <mat-label>Pressure</mat-label>

          <input matInput placeholder="Pressure..." formControlName="pressure">
        </mat-form-field>
    <button mat-button (click)="save()" color="accent">Submit</button>

  </form>
</div>