<div class="mat-elevation-z2" fxLayout="row wrap"  fxLayoutAlign="space-between center" *ngIf="displayValue | async as entry" fxFlex="290px">
    <div fxLayout="column" fxLayoutAlign="center center">
        <p *ngIf="entry < 15" style="color:#69f0ae">Is very cold Today</p>
        <p *ngIf="entry > 15 && entry < 25">Is nice Today</p>
        <p *ngIf="entry > 25" style="color: #f44336">Is very hot Today</p>
    </div>
    <button mat-button (click)="suscribe()" *ngIf="!suscribed" color="accent">Suscribe</button>
    <button mat-button (click)="unsuscribe()" *ngIf="suscribed" color="warn">Unsuscribe</button>
  
  </div>