<div class="mat-elevation-z2" fxLayout="row wrap"  fxLayoutAlign="space-between center" *ngIf="displayValue | async as entry" fxFlex="290px">
    <div fxLayout="column" fxLayoutAlign="center start">
    <p fxFlex="100">Some Stats For You:</p>

        <p>Min temp : {{min_max_avg[0]}}</p>
        <p>Max temp : {{min_max_avg[1]}}</p>
        <p>AVG temp : {{min_max_avg[2]/entry.length | number}}</p>
    
    </div>
    <button mat-button (click)="suscribe()" *ngIf="!suscribed" color="accent">Suscribe</button>
    <button mat-button (click)="unsuscribe()" *ngIf="suscribed" color="warn">Unsuscribe</button>
  
  </div>